@import "variables";

.vlahio-floating-panel {
  .vlahio-container {
    &.vlahio-right-small {
      position: fixed;
      bottom: 20px;
      right: 20px;
      height: $fixedWidthFixedHeight;
      width: $fixedWidthFixedHeight;
      border: $borderStyle;

      @include forceFullScreen;

      .vlahio-form-submit-fixed {
        text-align: left;
      }
    }
  }
}
