@import "variables";

.vlahio-floating-panel {
  .vlahio-container {
    &.vlahio-right-fixed {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: $fixedWidthFullHeight;
      border-left: $borderStyle;

      @include forceFullScreen;

      .vlahio-form-submit-fixed {
        text-align: left;
      }
    }
  }
}
