@import "variables";

.vlahio-floating-panel {
  .vlahio-container {
    &.vlahio-center-small {
      position: fixed;
      top: calc((100vh - #{$fixedWidthFixedHeightSmall}) / 2);
      left: calc((100vw - #{$fixedWidthFixedHeightSmall}) / 2);
      height: $fixedWidthFixedHeightSmall;
      width: $fixedWidthFixedHeightSmall;
      border: $borderStyle;

      @include forceFullScreen;

      .vlahio-form-submit-fixed {
        text-align: center;
      }
    }
  }
}
