<div class="container">
  <div class="row mt-4">
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-right')">right fluid</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-right-fixed')">right fixed</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-right-small')">right square </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-bottom')">bottom fluid</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-center')">center square</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-center-small')">center small</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-full')">full screen</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-left')">left fluid</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-left-fixed')">left fixed</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-left-small')">left square</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
      <button class="btn btn-dark"
              (click)="show('vlahio-left'); show('vlahio-right-small')">stacked</button>
    </div>
  </div>
</div>
